* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login_body {
    background-color: var(--color_login2);
}

* {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.main_login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.main_createUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_login picture {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_login picture img {
    width: 90%;
}

.content_form {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main_createUser .content_form {
    width: 50%;
}

.form_login {
    background-color: var(--color_login);
    padding: 1rem;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    width: 50%;
    /* box-shadow: 0 0 5px #000; */
    color: var(--color_login_letters);
    text-align: center;
}

.form_login p {
    font-size: 20px;
}

.form_login a {
    color: var(--color_anclas);
    text-decoration: none;
}

.form_login a:hover,
.form_login a:focus {
    color: var(--color_anclas);
    text-decoration: none;
}

.form_login a:active {
    color: var(--color_anclas_active);
}

.form_login h1 {
    font-size: 80px;
    text-align: center;
    color: var(--color_login_letters);
    overflow: hidden;
    text-wrap: nowrap;
}

.content_input {
    position: relative;
    display: flex;
    width: 90%;
}

label {
    margin: 0px !important;
}

#checkbox:hover {
    cursor: pointer;
}

.main_createUser .content_input label {
    top: 10px;
}

.content_input label {
    position: absolute;
    top: 6px;
    left: 15px;
    font-size: 20px;
    color: var(--color_input);
}

.content_input input,
.content_input select {
    width: 100%;
    min-width: 200px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #313131;
    padding-left: 15px;
    font-size: 21px;
    background-color: var(--color_login);
    color: var(--color_login_letters);
}

.content_input input:focus,
.content_input select:focus {
    outline: none;
    border: 1px solid var(--input_box_shadow);
    box-shadow: 0 0 5px var(--input_box_shadow);
}
.content_input input:focus + label,
.content_input select:focus + label {
    color: var(--input_box_shadow);
}

.content_input input:focus + label,
.content_input input:not(:placeholder-shown) + label,
.content_input select:focus + label,
.content_input select:not(:placeholder-shown) + label {
    top: -15px;
    transform: translateX(-5px);
    font-size: 17px;
    transition: 0.2s;
    background-color: var(--color_login);
}

.content_box {
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--color);
}

.content_box input {
    height: 100%;
    width: 1.5rem;
}

.content_btn {
    width: 90%;
    text-align: center;
}

.content_btn button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--btn_log);
    font-size: 22px;
    color: var(--color_btn_letters);
    transition: all 0.2s;
}

.content_btn button:hover,
.content_btn button:focus,
.content_main header button:hover,
.content_main header button:focus {
    transform: scale(1.01);
    outline: none;
    cursor: pointer;
}

.content_btn button:focus,
.content_main header button:focus {
    box-shadow: 0 0 5px var(--btn_active);
    background-color: var(--btn_active);
}
.content_btn button:active,
.content_main header button:active {
    transform: scale(1);
    box-shadow: 0 0 5px var(--btn_active);
    background-color: var(--btn_active);
}

.animate_logo {
    animation-duration: 1s;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: none;
}

.animate_form_preHome {
    animation-duration: 1s;
    animation-name: preHome;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: none;
}

.animate_eduhub {
    animation-duration: 2.5s;
    animation-name: eduhub;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes eduhub {
    0% {
        padding-left: 100%;
    }

    100% {
        padding-left: 0%;
    }
}

@keyframes preHome {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes logo {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 973px) {
    .form_login h1 {
        font-size: 70px;
    }
    .form_login,
    .main_login picture {
        width: 50%;
    }
}

@media (max-width: 813px) {
    .form_login {
        width: 100%;
    }
    .main_login picture {
        margin-top: 20px;
        width: 100%;
    }
}
